*{
    box-sizing: border-box;
}
body{
    width: auto;
    height: auto;
    font-family: dana;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none solid rgb(255, 255, 255);
    background: #111827;
    word-spacing: 0px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
header{
    color: white;
    background: #242A38;
    max-width: 1912px;
    width: 1912px auto;
    height: 100px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 48px 0px 48px 0px;
}
.logo{
    width: 130px ;
    height: 50px ;
    margin: 25px 20px;
    position: relative;
    top: -50px;
}
nav{
    column-gap: .25rem;

    align-items: center;
    height: 3.25rem;
    display: flex;
    color:  #fff;
    background-position: 0% 0%;
    height: 52px;
    width: 684px;
    text-align: center;
    min-width: auto;
    min-height: auto;
    position: relative;
    top: -80px;
    right: 200px;
}
